use argentum_rest_infrastructure::data_type::DeserializableSchemaRaw;
use argentum_rest_infrastructure::data_type::SerializableBody;
use argentum_standard_business::invariant_violation::{InvariantResult, ViolationArray, ViolationItem, Violations};
{{# each dependencies as |dep|}}
use {{dep}};
{{/each}}

#[derive(Debug, Clone, PartialEq, serde::Serialize)]
pub struct {{ name }} (Vec<{{{ itemsType.dataType }}}>);

impl {{ name }} {
    pub fn new(items: Vec<{{{ itemsType.dataType }}}>) -> Self {
        Self(items)
    }
}

impl SerializableBody for {{ name }} {}

impl DeserializableSchemaRaw<'_> for {{ name }} {
    type Raw = {{ name }}Raw;

    fn try_from_raw(raw_list: Self::Raw) -> InvariantResult<Self> {
        let mut argentum_violations: ViolationArray = vec![];

        let mut items = vec![];
        for raw in raw_list.0 {
            match {{{ itemsType.dataType }}}::try_from_raw(raw) {
                Ok(item) => items.push(item),
                Err(e) => argentum_violations.push(e),
            }
        }

        if argentum_violations.is_empty() {
            Ok(Self::new(items))
        } else {
            Err(Violations::new(
                vec!["wrong data for {{ name }}".to_string()],
                Some(ViolationItem::Array(argentum_violations)),
            ))
        }
    }
}

#[derive(serde::Deserialize)]
pub struct {{ name }}Raw (Vec<{{{ itemsType.rawType }}}>);
